services:
  db:
    image: postgres:15
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: ""
      POSTGRES_DB: dbForTask
      POSTGRES_HOST_AUTH_METHOD: trust
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

  web:
    build: .
    volumes:
      - .:/app
    environment:

      DATABASE_URL: postgresql://postgres:@db:5432/dbForTask

    ports:
      - "8000:8000"
    depends_on:
      - db

volumes:
  postgres_data:
